<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
  <title>Movie Pair</title>
</head>

<body>
  <div id="background"></div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-5">
        <img src="{{movie.image_url}}" alt="poster" class="poster">
      </div>
      <div class="col-7 movie-info mb-2">
        <h2 class="my-3">{{ movie.name }}</h2>
        <p>上映日期：{{ movie.release_date }}</p>
        <p>片長：{{ movie.length }}</p>
        {% if movie.imdb_score == -1 %}
        <p>當前 IMDB 分數：無</p>
        {% else %}
        <p>當前 IMDB 分數：{{ movie.imdb_score}}</p>
        {% endif %}
        <p>{{ movie.description }}</p>

        <div class="buttons my-4">
          <a href="/movie/top">返回票房榜選擇</a>
          <a href="/movie/category">返回類型頁選擇</a>
          <a href="/movie/form/{{movie.id}}">選擇此電影</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>